div#content_default a.icon {
	padding-left: 20px;
}
a.home {
	background: transparent url(../images/icons/style/home.png) no-repeat scroll left 3px;
}
a.login {
	background: transparent url(../images/icons/key.png) no-repeat scroll left 3px;
}
a.pkg {
	background: transparent url(../images/icons/pkgs/box.png) no-repeat scroll left 3px;
}



a.add {
	background: transparent url(../images/icons/add.png) no-repeat scroll left 3px;
}
a.accept {
	background: transparent url(../images/icons/accept.png) no-repeat scroll left 3px;
}
a.delete {
	background: transparent url(../images/icons/delete.png) no-repeat scroll left 3px;
}
a.edit {
	background: transparent url(../images/icons/edit.png) no-repeat scroll left 3px;
}
a.back {
	background: transparent url(../images/icons/arrow/arrow_left.png) no-repeat scroll left 3px;
}
a.show {
	background: transparent url(../images/icons/application_view_columns.png) no-repeat scroll left 3px;
}


a.activate {
	background: transparent url(../images/icons/lock_unlock.png) no-repeat scroll left 3px;
}
a.deactivate {
	background: transparent url(../images/icons/lock.png) no-repeat scroll left 3px;
}
a.exclamation {
	background: transparent url(../images/icons/error.png) no-repeat scroll left 3px;
}
a.table {
	background: transparent url(../images/icons/table.png) no-repeat scroll left 3px;
}
a.feed {
	background: transparent url(../images/icons/feed.png) no-repeat scroll left 3px;
}
a.address {
	background: transparent url(../images/icons/address.png) no-repeat scroll left 3px;
}
a.help {
	background: transparent url(../images/icons/lifebuoy.png) no-repeat scroll left 3px;
}
a.info {
	background: transparent url(../images/icons/information.png) no-repeat scroll left 3px;
}
a.asterisk {
	background: transparent url(../images/icons/asterisk.png) no-repeat scroll left 3px;
}

a.funnel {
	background: transparent url(../images/icons/funnel.png) no-repeat scroll left 3px;
}

a.note {
	background: transparent url(../images/icons/note.png) no-repeat scroll left 3px;
}
