#footer
  %p
    - if logged_in?
      #loging
        %span
          = " #{link_to current_user.login.capitalize, '/opts'} |"
          = link_to 'Logout', '/logout'


    %a{ :href => "http://archlinux.org" } ArX
    |
    ArX BETA by
    %a{ :href => "http://fireho.com" } fireho.com
